<div class="container">
  <div class="row">
    <!--FORM-->
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h1>Set interview conditions</h1>

          <form action="/notes/interview/{{userRId}}" method="post">
            {{!-- <div class="mb-3">
              <input
                class="form-control"
                type="text"
                name="job"
                placeholder="Write the job you want to interview this candidate for."
                value="{{interview.job}}"
              />
            </div> --}}

            <div class="mb-3">
              <input
                class="form-control"
                type="text"
                name="place"
                placeholder="Write the place where the interview is going to take place"
                value="{{interview.place}}"
              />
            </div>

            <div class="mb-3">
              <input
                class="form-control"
                type="text"
                name="date"
                placeholder="Specify the day when the interview is taken"
                value="{{interview.date}}"
              />
            </div>

            <!--<div class="mb-3">
              <input
                class="form-control"
                type="text"
                name="job"
                placeholder="Job you are registering for"
                value="{{userRegistered.job}}"
              />
            </div>-->

            <div class="mb-3">
              <textarea
                class="form-control"
                name="extraInfo"
                rows="3"
                placeholder="Write more info regarding to the interview"
              >{{interview.extraInfo}}</textarea>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
            <a href="/notes/{{appId}}/view-applicants" class="btn btn-info">See all applicants to this offer</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>