<div class="row">
  {{#each userRegistered}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          {{ userName }} 
        </h4>
        <p>{{ email }} </p>
        <p>{{ address }}</p>
        <p>{{ reasons }}</p>
      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <p clsss="lead">There are not applicants yet</p>
      <a href="/notes" class="btn btn-success btn-block">Back</a>
    </div>
  </div>
  {{/each}}
</div>

