<div class="row">
  {{#each userR}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          {{ userName }} 
        </h4>
        <p>{{ email }} </p>
        <p>{{ address }}</p>
        <p>{{ reasons }}</p>
        <p>{{ createdAt }}</p>
        <a class="nav-link" href="/notes/{{_id}}/view-applicants/interview" class="btn btn-info">
              Set Interview
        </a>
      </div>
    </div>
  </div>

  {{!-- <li class="list-group-item">
    <a>{{ userName }}</a>
    <a>{{ email }}</a>
    <a>{{ address }}</a>
    <a>{{ reasons }}</a>
  </li> --}}

  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <p clsss="lead">There are not applicants yet</p>
      <a href="/notes" class="btn btn-success btn-block">Back</a>
    </div>
  </div>
  {{/each}}
</div>

